* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Roboto", serif;
}
.errormessage-div {
	margin-bottom: 16px;
	margin-top: 16px;
}
.checkbox-main-div {
	margin-top: 32px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: row;
	gap: 16px;
}
.content-div {
	margin-top: 32px;
	display: flex;
	flex-direction: row;
	gap: 64px;
}
.content {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 16px;
	text-align: center;
	width: 150px;
}

button:hover {
	opacity: 0.8;
}

.btn-div {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

/* Responsive */
@media (max-width: 800px) {
	h1 {
		font-size: 24px;
	}
	.checkbox-main-div {
		flex-direction: column;
	}
	.content-div {
		flex-direction: column;
	}

	.btn-div {
		flex-direction: column;
	}
}
