.checkbox-div {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin-left: 16px;
}

.checkbox {
	width: 20px;
	height: 20px;
	border-radius: 4px;
}

.checkbox:hover {
	cursor: pointer;
}

.checkbox-lable {
	cursor: pointer;
}
